.moving {
            height: 120px;
            width: 150px;
            background-color: orange;
            padding: 1em;
        }
        .moving {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 80px;
        }
        /* moving from left to right and smaller and bigger */
        .moving {
            position: absolute;
            transform-origin: left;
            transition: transform 0.5s linear;
            transform-style: preserve-3d;
            -webkit-animation: linear infinite alternate;
            -webkit-animation-name: move;
            -webkit-animation-duration: 4s;
        }

        @-webkit-keyframes move {
            0% {
                left: 10%;
                transform: scale(0.1);
            }
            
            0% {
                left: 80%;
                transform: scale(1);
            }
            100% {
                left: 5%;
                transform: scale(1);
            }
            30%,
            40%,
            50%,
            60% {
                transform: scale(0.1);
            }
        }
        