.angle {
    position: absolute;
    top: 1000px;
    left: 500px;
    height: 400px;
    width: 400px;
    border: solid 5px purple;
}
.inner {
    position: absolute;
    top:1000px;
    left: 500px;
    height: 100px;
    width: 100px;
    background-color: black;
    animation: aroundThaWorld 4s;
    animation-iteration-count: infinite;
}
@keyframes aroundThaWorld {    
    0%{ /* move to origin */
        top: 1000px;
        left: 500px;
    }
    44% { /* move to top right*/
        top: 1000px;
        left: 810px;
        background-color: red;
    }
    55%{ /* move to bottom left*/
        top: 1300px;
        left: 500px;

    }
    66% { /*move to bottom right*/
        top: 1300px ;
        left: 800px;
    }

    /* Asia Armand */