body{
    background: linear-gradient(to right, lightblue, whitesmoke, lightblue);
}
.table-format {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 40px;
}

.box{
    width: 100px;
    height: 100px;
    display: grid;
    padding: 1em;

}
.red{
    background: red;
    animation-name: shake;
    animation-duration: .4s;
    position: relative;
    animation-iteration-count: infinite;

}
.blue{
    background: blue;
    animation-name: fadeIn;
    animation-duration: 4s;
    position: relative;
    animation-iteration-count: infinite;
}
.green{
    background: green;
    animation-name: jello;
    animation-duration: 2s;
    position: relative;
    animation-iteration-count: infinite;
}
.purple{
    background: purple;
    animation: bounce 0.9s infinite;
    position: relative;
}
.white{
    background: white;
}
.grey{
    background: grey;
}
.yellow{
    background: yellow;
}
.pink{
    background: pink;
}
.orange{
    background: orange;
}
.brown{
    background: brown;
}
.coral{
    background: coral;
}
.plum{
    background: plum;
}









@keyframes shake {
   2%, 100% {transform: translateX(10);}
   20%, 30%, 50%, 90% {transform: translateX(20px);}
   20%, 40%, 60%, 80% {transform: translateX(20px);}
}

@keyframes fadeIn {
    0% {opacity: 0;
    100% {opacity: 1;}
    }

@keyframes bounce { 
    0%, 40%, 80% {transform: translateY(0px);}
    20%, 60%, 90% {transform: translateY(20px);}
 }